<app-nav></app-nav>
<div class="container" style="margin-top:5%" >
<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-8">
    <div class="jumbotron">
      <h3 style="text-align:center">We are working hard to serve you.</h3>
      <p>
        Please donate any amount of your choice to keep enjoying our services. You can send the donation to below UPI:
      </p>
      <h5 style="color:red;text-align: center">muskanbararia@okicici</h5>
      </div>
  </div>
  <div class="col-md-2">

    </div>
    </div>
    </div>